# Jointure de dataframes

In [1]:
import pandas as pd

In [2]:
noms = [
    {'code': 59000,'nom': 'Lille'},
    {'code': 13000,'nom': 'Marseille'},
    {'code': 75000,'nom': 'Paris'},
]

df_noms = pd.DataFrame(noms)
df_noms

    code        nom
0  59000      Lille
1  13000  Marseille
2  75000      Paris

In [3]:
populations = [
    {'code': 59000,'population': 232787},
    {'code': 13000,'population': 861635},
    {'code': 75000,'population': 2240621},
]

df_populations = pd.DataFrame(populations)
df_populations

    code  population
0  59000      232787
1  13000      861635
2  75000     2240621

In [4]:
df_merged = pd.merge(df_noms, df_populations, on='code')
df_merged

    code        nom  population
0  59000      Lille      232787
1  13000  Marseille      861635
2  75000      Paris     2240621